<div class="container">
  <div class="estilo_fuente">
    <h1 class="page-header">Ajustes</h1>
  </div>

  <% Setting.all.each do |set| %>
    <%= form_for set, remote:true, html:{class:"setting-form form-inline row"}, 
      data: {name:"Ajuste"} do |f| %>
      <input type="hidden" name="format" value="json">
      <div class="">
        <div class="col-sm-12">
          <label class="col-sm-2" ><%= set.key %>: </label>

          <div class="col-sm-2">
            <% case set.setting_type %>
            <% when Setting::BOOLEAN %>
              <%= f.check_box :value  %>
            <% when Setting::DOUBLE %>
              <%= f.number_field :value, step:"0.01"  %>
            <% when Setting::DATE %>
              <%= f.text_field :value, type:"date"  %>
            <% when Setting::LIST %>
              <%= f.select :value, set.select_options  %>
            <% when Setting::STRING %>
              <%= f.text_field :value  %>
            <% when Setting::INTEGER %>
              <%= f.number_field :value  %>
            <% when Setting::PERCENT %>
              <%= f.number_field :value  %> %
            <% else %>
              <%= f.text_field :value  %>
            <% end %>
          </div>
          
        </div>    
      </div>

    <% end %>
    <hr>
<%end %>

  </div><!-- .container -->

